RewriteEngine On
RewriteRule ^dashboard?$ dashboard.php
ReWriteRule ^users?$ users.php
ReWriteRule ^allposts?$ allposts.php
ReWriteRule ^about?$ about.php
RewriteRule ^posts/([0-9]+) posts.php?edit=$1
ReWriteRule ^posts?$ posts.php
ReWriteRule ^([a-zA-Z1-9]+)$ index.php?post=$1